<!doctype html>
<html>
<head>
    <title>Rate Limiter Demo</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        body { padding-top: 20px; }
        .container { background-color: bisque }
    </style>

</head>
<body>
<div class="container">
    <h3>Slow down, you are too fast!</h3>
</div>
</body>
</html>
